body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  text-align: center;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #f1f1f1;
  position: relative;
  width: 100%;
}
